.chart-series-line {
	-fx-stroke-width: 1.75px;
}
.chart-symbol {
	-fx-shape: null;
	-fx-padding: 1.5px;
	-fx-background-color: black;
}
.chart-symbol-dot {
	-fx-background-color: #000;
}
.series0 {
	-fx-background-color: #e41a1c;
}
.series1 {
	-fx-background-color: #377eb8;
}
.series2 {
	-fx-background-color: #4daf4a;
}
.series3 {
	-fx-background-color: #984ea3;
}
.series4 {
	-fx-background-color: #ff7f00;
}
