.chart-series-line {
	-fx-stroke-width: 1.75px;
}
.chart-symbol {
	-fx-shape: null;
	-fx-padding: 1.5px;
	-fx-background-color: black;
	-fx-background-radius: 0px;
}
.chart-symbol-dot {
	-fx-background-color: #000;
}
.series0 {
	-fx-background-color: #0072BD;
}
.series1 {
	-fx-background-color: #D85218;
}
.series2 {
	-fx-background-color: #ECB01F;
}
.series3 {
	-fx-background-color: #7D2E8D;
}
.series4 {
	-fx-background-color: #76AB2F;
}
.series5 {
	-fx-background-color: #4CBDED;
}
.series6 {
	-fx-background-color: #A1132E;
}
.series7 {
	-fx-background-color: #0071BC;
}
.chart-line-symbol {
	-fx-background-color: transparent;
}
